* {
  padding: 0;
  margin: 0;
  font-family: Aller;
}

@font-face {
    font-family: Aller;
    src: url(../fonts/Aller/AllerDisplay.ttf);
    font-weight: bold;
}

@font-face {
    font-family: Aller;
    src: url(../fonts/Aller/Aller_Rg.ttf);
}

h2 {
  float: left;
  margin-top: 0.2em;
  margin-left: 0.2em;
  font-size: 3em;
  font-weight: bold;
}

.gamemodeSelection {
  width: 5em;
  float: left;
}

.summonerNameInput {
  padding-top: 0.5em;
  float: left;
}

label {
  margin-right: 0.4em;
}

.confirmAndRegion {
  float: left;
  width: 5em;
  margin-left: 1em;
}

.confirmAndRegion select {
  width: 5em;
}

.confirmAndRegion input {
  margin-top: 0.2em;
  width: 5em;
}

.formContainer {
  float: right;
  margin-right: 0.5em;
  display: block;
  width: 30em;
  height: 5em;
  padding-top: 1em;
  padding-left: 0.6em;
}

.header {
  height: 5em;
  width: 100%;
  background-image: url("../images/Zaun.jpg");
}

.container {
  width: 100%;
}

.content {
  width: 80%;
  margin: 0 auto;
}
